.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  position: relative;
}

.save-status-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.save-status {
  padding: 5px 10px;
  border-radius: 5px;
}

.save-status.error {
  background-color: rgba(255, 0, 0, 0.8); /* Red with 80% opacity */
  color: white;
}

.save-status.success {
  background-color: rgba(0, 128, 0, 0.8); /* Green with 80% opacity */
  color: white;
}

.save-button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 16px;
  background-color: white;
  color: rgb(26, 74, 233);
  border: 1px solid blue;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 120px;
}
.save-button:hover {
  color: white;
  background-color: rgb(26, 74, 233);
}
