/* Sidebar.css */
.sidebar-button {
  /* display: flex;
  align-items: center; */
  padding: 10px 20px;
  font-size: 16px;
  background-color: white;
  color: rgb(26, 74, 233);
  border: 1px solid blue;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 120px;
}

.sidebar-button:hover {
  background-color: #0056b3;
  color: white;
}

.sidebar-button svg {
  margin-right: 8px;
}
.divider {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}
/* .dividers {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 20px 0;
  margin-top: 100px;
} */
