/* src/App.css */
.app {
  overflow: hidden;
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 295px;
  /* background: #f4f4f4; */
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  border-left: 1px solid #ddd;
  overflow-y: auto;
  height: 100vh;
}

.draggable-item {
  width: 150px;
  padding: 14px;
  font-size: larger;
  margin-bottom: 10px;
  background: #fff;
  border: 1px solid rgb(23, 107, 233);
  cursor: grab;
  display: grid;
  align-items: center;
  color: rgb(23, 107, 233);
  justify-content: center;
  justify-items: center;
}

.flow-canvas {
  flex: 1;
  /* background: #eee; */
  position: relative;
  margin-right: 312px; /* Add margin to make space for the sidebar */
}

.settings-panel {
  padding: 10px;
  background: #fff;
  border: 1px solid #ddd;
}

.settings-panel textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  height: 100px;
}
